<a href="https://colab.research.google.com/github/DmitryVS/trash/blob/master/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

%matplotlib inline

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
#1. Считать данные из csv в переменную;

df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Churn.csv')
import pandas as pd

In [8]:
#2. Получить первые 5 объектов;
print(f'Всего данных: {df.shape}')
df.head()

Всего данных: (3333, 20)

  State  Account length  ...  Customer service calls  Churn
0    KS             128  ...                       1  False
1    OH             107  ...                       1  False
2    NJ             137  ...                       0  False
3    OH              84  ...                       2  False
4    OK              75  ...                       3  False

[5 rows x 20 columns]

In [9]:
#3. Получить все признаки и составить к ним описание;
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
State                     3333 non-null object
Account length            3333 non-null int64
Area code                 3333 non-null int64
International plan        3333 non-null object
Voice mail plan           3333 non-null object
Number vmail messages     3333 non-null int64
Total day minutes         3333 non-null float64
Total day calls           3333 non-null int64
Total day charge          3333 non-null float64
Total eve minutes         3333 non-null float64
Total eve calls           3333 non-null int64
Total eve charge          3333 non-null float64
Total night minutes       3333 non-null float64
Total night calls         3333 non-null int64
Total night charge        3333 non-null float64
Total intl minutes        3333 non-null float64
Total intl calls          3333 non-null int64
Total intl charge         3333 non-null float64
Customer service calls    3333 non-null int64
Churn                     3333 non-null bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 498.1+ KB

In [0]:
#4. Получить размерность данных;

In [0]:
#5. Получить название столбцов;

In [0]:
#6. Изменить тип колонки Churn;

In [0]:
#7. Отсортировать набор данных по времени разговоров;

In [0]:
#8. Получить средние значения числовых признаков среди нелояльных пользователей;

In [0]:
#9. Получить сколько в среднем в течение дня разговаривают по телефону нелояльные пользователи;

In [0]:
#10. Сгруппировать данные по признаку:«Количество минут ночью»;

In [0]:
#11. Получить наблюдения в контексте двух признаков:«Churn» и «International plan»;