<a href="https://colab.research.google.com/github/DmitryVS/trash/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
from sklearn import datasets
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
data = datasets.load_diabetes() # загрузим данные
Y, X = data['target'], data['data'].T
features = ['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6'] # признаки в датасете
X.shape , Y.shape

((10, 442), (442,))

In [0]:
A = dict(enumerate(X))
fig, aa= plt.subplots(2,5,figsize=(20,10))
i = 0;k = 0

aa[0][0].set_ylabel('Y')
aa[1][0].set_ylabel('Y')
for i in range(0,2):
    j = 0
    for j in range(0,5):
        aa[i][j].scatter(A[k], Y)
        aa[i][j].set_xlabel(features[k])
        j = j+1
        k = k+1
    i =+1
plt.show()

In [0]:
from sklearn import linear_model

feature = 2 # номер признака

reg = linear_model.LinearRegression(fit_intercept=False)
reg.fit([[x, 1] for x in X[feature]], Y) # обучим регрессию k*x + b*1, метод осуществит подбор коэффциентов k и b
print(reg.coef_) # вывести коэффициенты
print(reg.score([[x, 1] for x in X[feature]], Y)) # вывести score

points = np.linspace(X[feature].min(), X[feature].max(), 100) # вы берем значения для предсказания
target = [np.sum(reg.coef_*[x, 1]) for x in points] # предсказания модели

plt.figure(figsize=(20, 10))
plt.scatter(X[feature], Y)
plt.plot(points, target, c='r')
plt.show()

In [9]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

%matplotlib inline

df = pd.read_csv('/content/drive/My Drive/titanic_train.csv', index_col='PassengerId').drop(['Ticket', 'Cabin', 'Name'], axis='columns')
import pandas as pd

print(f'Всего данных: {df.shape}')
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Всего данных: (891, 8)

             Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
PassengerId
1                   0       3    male  22.0      1      0   7.2500        S
2                   1       1  female  38.0      1      0  71.2833        C
3                   1       3  female  26.0      0      0   7.9250        S
4                   1       1  female  35.0      1      0  53.1000        S
5                   0       3    male  35.0      0      0   8.0500        S